modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run GUI"

[[workflows.workflow]]
name = "Run GUI"
author = 42529066
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python Hardsubber_V4_GUI.py"
