modules = ["python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["fontconfig", "haskellPackages.zstd", "libGL", "libxkbcommon", "python312Packages.zstd", "zstd"]

[workflows]
runButton = "Run GUI"

[[workflows.workflow]]
name = "Run GUI"
author = 42529066
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python Hardsubber_V4_GUI.py"
