modules = ["python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["fontconfig", "freetype", "haskellPackages.zstd", "lcms2", "libGL", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "libxkbcommon", "openjpeg", "python312Packages.zstd", "tcl", "tk", "zlib", "zstd"]

[workflows]
runButton = "Run GUI"

[[workflows.workflow]]
name = "Run GUI"
author = 42529066
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python Hardsubber_V4_GUI.py"
